<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - {{ subtitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/style.css">
</head>

<body id="{{ slug }}">

<nav>
<section>
    <span class="home">
        <a href="{{ base_path }}/">Home</a>
    </span>
    <span class="links">
      <!-- <a href="{{ base_path }}/academic/">Academic</a> -->
        <a href="{{ base_path }}/blog/">Blog</a>
        <a href="{{ base_path }}/journal/">Journal</a>
        <a href="{{ base_path }}/blank-cv.pdf">CV</a>
        <a href="{{ base_path }}/other/">Other</a>
        <!-- <a href="{{ base_path }}/contact/">Contact</a>
             <a href="{{ base_path }}/about/">About</a> -->
    </span>
</section>
</nav>

<main>
{{ content }}
</main>

<!-- <footer>
     <section>
     <p>&copy; {{ current_year }} Spencer Peters</p>
     <p>
     <a href="https://twitter.com/spencerjpeters">Twitter</a>
     <a href="https://github.com/spencerpeters">GitHub</a>
     <!-- <a href="https://www.example.com/">Example</a> -->
<!-- </p>
     </section>
     </footer> -->

<script id="dsq-count-scr" src="//spencer-disqus-shortname.disqus.com/count.js" async></script>
</body>
</html>
