<article>
<h1><a href="{{ base_path }}/{{ blog }}/{{ slug }}/">{{ title }}</a></h1>
<p class="meta">Published on {{ date }} by <b>{{ author }}</b></p>
{{ content }}

<!-- Can set up Disqus by copying and pasting the JavaScript they provide and setting configuration variables -->
<!-- Recommended values for the configuration variables:
     this.page.url = "YOUR_URL{{ base_path }}/{{ blog }}/{{ slug }}/";
     // for example, set YOUR_URL to https://www.cs.cornell.edu/~speters
     this.page.identifier = "{{ base_path }}/{{ blog }}/{{ slug }}/";
 -->
</article>
