<article>
<!-- Spencer: just like layout.html, but with different title format-->
  <h2>Fresh off the <a href="{{ base_path }}/blog/" class="preview">Blog</a>: <a href="{{ base_path }}/blog/{{ slug }}/" class="preview">{{ title }}</a> </h2>
<p class="meta">Published on {{ date }} by <b>{{ author }}</b></p>
<p class="summary">
{{ summary }}&nbsp;<a class="more" href="{{ base_path }}/blog/{{ slug }}/">...</a>
</p>
<div>
<a class="more" href="{{ base_path }}/blog/{{ slug }}/">Read More</a>
</div>
</article>
